@model IEnumerable<LearningPlattform.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<style>
        .pb-video-container {
                padding-top: 20px;
                background: #6fb0dc;
                font-family: Lato;

    }

        .pb-video {
                border: 1px solid #e6e6e6;
                padding: 5px;

    }

            .pb-video:hover {
                    background: #2c3e50;

    }

        .pb-video-frame {
                transition: width 2s, height 2s;

    }

            .pb-video-frame:hover {
                    height: 300px;

    }

        .pb-row {
                margin-bottom: 10px;

    }

        .menu-link {
              height:50px;

    }

    .label-video {
        background: #ff0000;
    }

    .containe {
        width: 100%;
        border: 1px solid black;
        display: table;
        table-layout: fixed;
    }

    .child {
        /*border: 1px solid grey;
        display: table-cell;*/
        float:right;
    }
    .tbrow{
        height:200px;
    }
</style>

@Styles.Render("~/Content/css")


    <div align="left" height ="200" > <img src="~/Content/Images/70ee-original.png" width="100%" /> </div>   
   <p></p>


@if (Model.Count() > 3)
{
    <p></p>
<div class="container-fluid pb-video-container">
    <div class="col-md-12 offset-md-1">
        <h2 style="text-align:center; font-family:Haettenschweiler" class="text-xs-center">Recent Arrivals</h2>
        <div class="row pb-row">
            @{
                var courses = Model.ToList();
                int terminator = 4; //The count is already verfied to be > 3, so 4 could be directly assigned
                if(Model.Count() > 7)
                {
                    terminator = 8;
                }
            }
                @for (int i = 0; i < terminator; i++)
                {
                    <div class="col-md-3 pb-video">
                        <a href=@Url.Action("Details", "Courses", new { Id = courses[i].Id })>
                            <img src=@Url.Content(courses[i].ImagePath) width="100%" height="200" alt="Cinque Terre">
                        </a>
                        <label class="list-group-item list-group-item-action active">@courses[i].Name</label>
                    </div>
                }
                    
        </div>
    </div>
  </div>
}


<div class="row">
       <div class="col-md-6">
        <h2>Learning Platform</h2>
        <p>Learning Platform is designed for individuals that are passionate on learning new things at their own
           pace and style. It provides you with an opportunity for improving your knowledge and skills on the subject
           areas which matter the most.
          Enroll and enjoy the range of fun and interseting courses on the platform, 
           be aware of new courses and videos, and help and contribute in the work of making education accessible 
           for everyone.</p>
       </div>
    <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="~/Content/Images/1437047155.jpg" width="100%" class="img-thumbnail" alt="Learning Platform Image">
        </div>

</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
