@model IEnumerable<LearningPlattform.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<style>
        .pb-video-container {
                padding-top: 20px;
                background: #6fb0dc;
                font-family: Lato;

    }

        .pb-video {
                border: 1px solid #e6e6e6;
                padding: 5px;

    }

            .pb-video:hover {
                    background: #2c3e50;

    }

        .pb-video-frame {
                transition: width 2s, height 2s;

    }

            .pb-video-frame:hover {
                    height: 300px;

    }

        .pb-row {
                margin-bottom: 10px;

    }

        .menu-link {
              height:50px;

    }

    .label-video {
        background: #ff0000;
    }

    .containe {
        width: 100%;
        border: 1px solid black;
        display: table;
        table-layout: fixed;
    }

    .child {
        /*border: 1px solid grey;
        display: table-cell;*/
        float:right;
    }
</style>

@Styles.Render("~/Content/css")


    <div align="left" height ="200" > <img src="~/Content/Images/New/99de1cad-c119-49e5-b695-fcbefb9a70ee-original.png" width="100%" /> </div>   
   <p></p>
<div class="containe">
    <div class="child><p>Hello Word</p></div>
    <div class="child">@*<img src="~/Content/Images/1437047155.jpg" width="40%" />*@
    <img src="~/Content/Images/1437047155.jpg" width="40%"/>
    </div>
</div>

@if(Model.Count() > 3)
{
    <p></p>
<div class="container-fluid pb-video-container">
    <div class="col-md-12 offset-md-1">
        <h2 style="text-align:center; font-family:Haettenschweiler" class="text-xs-center">Recent Arrivals</h2>
        <div class="row pb-row">
            @foreach (var item in Model)
            {
            <div class="col-md-3 pb-video">
                <a href=@Url.Action("Details", "Courses", new { Id = item.Id })>
                    <img src=@Url.Content(@item.ImagePath) width="100%" height="200" alt="Cinque Terre">
                </a>
                    <label class="form-control label-warning text-xs-center">@item.Name</label>
</div>
            }
        </div>
        </div>
    </div>
}
else
{
    <p>No videos to show</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
